{% set settingsSubnavItems = {
    'general': { label: 'General'|t('booked'), url: url('booked/settings/general') },
    'calendar': { label: 'Calendar'|t('booked'), url: url('booked/settings/calendar') },
    'meetings': { label: 'Virtual Meetings'|t('booked'), url: url('booked/settings/meetings') },
    'notifications': { label: 'Notifications'|t('booked'), url: url('booked/settings/notifications') },
    'booking-fields': { label: 'Booking Fields'|t('booked'), url: url('booked/settings/booking-fields') },
    'service-fields': { label: 'Service Fields'|t('booked'), url: url('booked/settings/service-fields') },
    'commerce': { label: 'Commerce'|t('booked'), url: url('booked/settings/commerce') },
    'frontend': { label: 'Frontend'|t('booked'), url: url('booked/settings/frontend') }
} %}

<nav id="settings-nav">
    <ul>
        {% for key, item in settingsSubnavItems %}
            <li>
                <a href="{{ item.url }}" class="{% if key == selectedSettingsSubnavItem %}sel{% endif %}">{{ item.label }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

