{#
/**
 * Booked Catalog Template
 */
#}
{% do view.registerAssetBundle("fabian\\booked\\assetbundles\\BookedAsset") %}

<div class="booked-catalog" x-data="bookingCatalog()" :class="{ 'booked-loading': loading }">
    <div class="booked-grid">
        <template x-for="service in services" :key="service.id">
            <div class="booked-card" @click="openWizard(service.id)">
                <h4 x-text="service.title"></h4>
                <p x-text="service.description"></p>
                <div class="light" x-text="service.duration + ' min | ' + service.price + ' CHF'"></div>
                <button class="btn btn-primary btn-sm mt-4">Jetzt buchen</button>
            </div>
        </template>
    </div>
</div>

