{% extends "_layouts/elementindex" %}
{% set elementType = 'fabian\\booked\\elements\\BlackoutDate' %}
{% set title = 'Blackout Dates'|t('booked') %}
{% set selectedSubnavItem = 'blackout-dates' %}

{% block actionButton %}
    <a href="{{ url('booked/blackout-dates/new') }}" class="btn submit add icon">{{ "New Blackout Date"|t('booked') }}</a>
{% endblock %}

{% set tableAttributes = [
    'title',
    'dateRange',
    'location',
    'employee',
    'status'
] %}
