{% extends "_layouts/elementindex" %}
{% set elementType = 'modules\\booking\\elements\\Availability' %}
{% set title = 'Verfügbarkeit' %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ url('booking/availability/new') }}">Verfügbarkeit hinzufügen</a>
{% endblock %}
