{% extends "_layouts/elementindex" %}
{% set elementType = 'fabian\\booked\\elements\\Reservation' %}
{% set title = 'Buchungen' %}
{% set selectedSubnavItem = 'bookings' %}

{% block actionButton %}
    <div class="btngroup">
        <a class="btn submit add icon" href="{{ url('booked/bookings/new') }}">Neue Buchung</a>
        <a class="btn" href="{{ url('booked/bookings/export') }}">CSV exportieren</a>
    </div>
{% endblock %}
