{% extends "_layouts/elementindex" %}
{% set elementType = 'modules\\booking\\elements\\BookingVariation' %}
{% set title = 'Buchungsvarianten' %}

{% block actionButton %}
    <a href="{{ url('booking/variations/new') }}" class="btn submit add icon">Neue Variante</a>
{% endblock %}
