{% extends "_layouts/elementindex" %}
{% set elementType = 'fabian\\booked\\elements\\ServiceExtra' %}
{% set title = 'Add-Ons' %}
{% set selectedSubnavItem = 'service-extras' %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ url('booked/service-extras/new') }}">{{ 'New Add-On'|t('booked') }}</a>
{% endblock %}
